h3 {
    color: rgb(0, 0, 0);
    background-color:rgb(253, 253, 253) ;
}
body { color: rgb(2, 2, 2);
    background-color: rgb(177, 159, 145);
    

}

title {
    color: blueviolet;
    background-color: brown;
}


